* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: hsl(205, 33%, 90%);
}
header,
section {
  margin-bottom: 0.6rem;
}
main {
  height: auto;
  background-color: hsl(0, 0%, 100%);
  border-radius: 1rem;
  width: 42rem;
  margin: 2rem auto;
  padding: 1rem 1.5rem;
}
header {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  font-size: 12px;
}

header span {
  border-radius: 5px;
  padding: 0.3em 0.7em;
  font-size: 15px;
  color: #fff;
  background-color: hsl(211, 73%, 30%);
}

header button {
  color: hsl(224, 21%, 14%);
  font-size: 16px;
  font-family: "Plus Jakarta Sans", sans-serif;
  cursor: pointer;
  border: none;
  background: none;
  padding: 0.2rem;
}

button:hover {
  font-weight: 800;
  color: hsl(211, 73%, 30%);
}

section {
  margin-top: 1.5rem;
}
section div {
  color: hsl(219, 12%, 42%);
  background-color: hsl(211, 68%, 94%);
  border-radius: 10px;
  display: grid;
  grid-template-columns: auto auto;
  padding: 0.8em 1em;
  margin-bottom: 1rem;
}

.dot {
  margin-left: 0.2rem;
  width: 0.5rem;
}
div span {
  margin-right: 0.2em;
  font-weight: 800;
  color: hsl(224, 21%, 14%);
}
div span:hover {
  color: hsl(211, 73%, 30%);
  cursor: pointer;
}

section div img {
  grid-row: 1/4;
  width: 3rem;
}

div p {
  margin-left: 1rem;
  text-align: left;
  width: 32rem;
}

#message {
  border-radius: 10px;
  padding: 1rem;
  width: 32rem;
  margin-top: 1rem;
  border: 1px solid hsl(211, 68%, 94%);
}
#message:hover {
  background: hsl(211, 68%, 94%);
}
#message p {
  line-height: 1.3rem;
  margin-left: 0;
  width: auto;
}

section :nth-child(5) {
  grid-template-columns: auto auto auto;
  background-color: #fff;
}
section :nth-child(5) p {
  width: auto;
}
section :nth-child(5) #chess {
  cursor: pointer;
  grid-column: 3;
  margin-left: 6rem;
}

section :nth-child(4),
section :nth-child(6),
section :nth-child(7) {
  background-color: #fff;
}

@media screen and (min-width: 320px) and (max-width: 600px) {
  main {
    height: 100%;
    background-color: hsl(0, 0%, 100%);
    border-radius: unset;
    width: 100%;
    margin: 0;
    padding: 1rem 1rem;
  }

  div p {
    margin-left: 0.8rem;
    text-align: left;
    width: auto;
  }
  #message {
    border-radius: 10px;
    padding: 1rem;
    width: auto;
    margin-top: 1rem;
    border: 1px solid hsl(211, 68%, 94%);
  }

  section :nth-child(2) p {
    width: 70vw;
  }

  section :nth-child(5) p {
    width: auto;
  }
  section :nth-child(5) #chess {
    margin-left: 0;
  }
}
